.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 98vw;
  border: 3px solid var(--shadow-color);
  border-top: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 25px;
  color: var(--text-color);
  background-color: var(--box-color);
  font-size: 20px;
}

.logo {
  padding-inline-start: 15px;
  transition: color 0.2s linear;
}

.logo:hover,
.logo:active,
.link:hover,
.link:active {
  color: var(--accent-color);
  text-decoration: underline;
}

.link {
  padding-inline: 15px;
  transition: color 0.2s linear;
}

@media (width<=768px) {
  .header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    max-width: 90vw;
  }
}
