.App {
  box-sizing: border-box;
  text-align: center;
  background-color: #e7e7e7;
  min-height: 100vh;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
